:root {
  --Black: #212529;
  --LightGray: #e9ecef;
  --SkyBlue: #7dc1ee;
  --Red: #ee7d7d;
  --White: #f8f9fa;
}
@font-face {
  font-family: Vazir;
  src: url(./fonts/Vazir-Medium.woff);
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Vazir;
  color: var(--White);
}
/* Sidebar */
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: unset;
}
.sidebar_section {
  position: fixed;
  background-color: var(--LightGray);
  background-size: cover;
  color: var(--Black);
  width: 280px;
  left: 0;
  top: 0;
  height: 100vh;
  display: block;
  transition: all 300ms ease;
  z-index: 999;
}
.li_person {
  display: flex;
  justify-content: center;
  align-items: end;
}
.li_person p {
  margin-left: 10px;
  font-size: 15px;
}
.image_profile {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
li {
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}
a li {
  font-size: 20px;
}
.active-nav li {
  cursor: pointer;
  background: var(--SkyBlue);
}
.li_content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
/* Content */
.div_content {
  position: absolute;
  width: calc(100% - 280px);
  right: 0;
  top: 0;
  height: 200vh;
  background: var(--White);
}
.section_header {
  display: flex;
}
/* header */
.menu {
  padding: 10px 10px;
}
.header_content {
  background: var(--LightGray);
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
  border-radius: 20px;
}
.p_manage {
  margin-left: 20px;
  color: var(--Black);
  font-size: 40px;
}
.search {
  background: var(--White);
  margin-right: 260px;
  width: 60px;
  height: 35px;
  display: flex;
}
.input-search {
  flex: 1;
  border: none;
  outline: none;
}
.btn-search {
  background: var(--SkyBlue);
  padding: 5px 20px;
  border: none;
  outline: none;
  color: var(--Black);
  letter-spacing: 1px;
  cursor: pointer;
}
.img-search {
  align-self: center;
  width: 20px;
  height: 20px;
  padding: 5px 10px;
  color: var(--SkyBlue);
}
/* User */
.adduser {
  width: 70px;
  height: 60px;
  margin: 10px 20px;
  border: none;
  background: var(--SkyBlue);
  color: var(--Black);
  font-size: 40px;
  border-radius: 10px;
  cursor: pointer;
}
.table_user {
  background: var(--LightGray);
  margin: 10px 20px;
  border-radius: 20px;
  font-size: 25px;
  color: var(--Black);
  padding: 20px 20px;
}
.table {
  width: 100%;
  text-align: center;
}
.table td {
  border-top: 2px solid var(--White);
  padding-top: 5px;
}
.icon_table {
  width: 20px;
  height: 20px;
  margin: 10px;
}
.table td :hover {
  cursor: pointer;
}
.td-padding {
  text-align: center;
  padding: 5px 30px;
}
.txtalign-left {
  text-align: left;
}
/* Manage */

.manage {
  display: flex;
  align-content: start;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 20px;
  height: 180px;
  border-radius: 20px;
  font-size: 30px;
  background: var(--LightGray);
  color: var(--Black);
}
.manage div {
  margin: 10px 20px;
  display: flex;
  align-items: center;
  align-content: center;
}
.manage p {
  margin-left: 10px;
}
.manage-icon {
  width: 30px;
  height: 30px;
}
.waiting-status {
  text-align: center;
  font-size: 40px;
  color: var(--SkyBlue);
}
.swal-button {
  font-family: Vazir;
  border: none;
  margin: 10px 3px;
  cursor: pointer;
}
.btnCountBody {
  font-weight: bold;
  font-size: 15px;
  background: var(--Black);
  color: var(--Red);
  padding: 15px;
  border-radius: 10px;
  border: 2px solid var(--Red);
  margin: 10px 0px;
}
/* responsive */

@media (max-width: 5000px) {
  .menu {
    display: none;
  }
}
@media (max-width: 1300px) {
  .p_manage {
    font-size: 35px;
  }
  .table_user {
    font-size: 20px;
  }
  .icon_table {
    width: 18px;
    height: 18px;
  }
  .manage {
    font-size: 25px;
  }
  .manage-icon {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 1100px) {
  .p_manage {
    font-size: 30px;
  }
  .table_user {
    font-size: 15px;
  }
  .icon_table {
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 950px) {
  .p_manage {
    font-size: 20px;
  }
  .table_user {
    font-size: 12px;
  }
  .icon_table {
    width: 13px;
    height: 13px;
  }
}
@media (max-width: 768px) {
  .menu {
    display: inline;
  }
  .div_content {
    width: 100%;
  }
  .sidebar_section {
    left: -280px;
  }
  .sidebar_section .active {
    left: 0;
  }
  .p_manage {
    font-size: 30px;
  }
  .table_user {
    font-size: 15px;
  }
  .icon_table {
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 600px) {
  .p_manage {
    font-size: 30px;
    margin: 0 auto;
  }
  .search {
    display: none;
  }
  .table_user {
    font-size: 10px;
    padding: 20px 20px;
  }
  .icon_table {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 500px) {
  .p_manage {
    padding: 0;
    margin: 0;
    font-size: 20px;
    margin: 0 auto;
  }
  .search {
    display: none;
  }
  .table_user {
    font-size: 8px;
    padding: 20px 20px;
  }
  .icon_table {
    width: 15px;
    height: 15px;
  }
  .manage p {
    font-size: 15px;
  }
  .manage-icon {
    width: 15px;
    height: 15px;
  }
}
